<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <body>
    <h1>About</h1>
    <p>
      Welcome to net-work, the new professional network that LinkedIn afraid of.
      <strong>Connect and get ready to meet with success!</strong>
      Implemented in 2018.
    </p>
  </body>
</html>