<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | net-work</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      If you have any issue or question, we are happy to help you!
      <br><br>
      <%= image_tag("email-thumb.png", size: 30)%> Contact us:<br>
      <%= mail_to "an.antonelou@gmail.com" %><br>
      <%= mail_to "pstamatop@gmail.com" %>
    </p>
  </body>
</html>