<% provide(:title, "Help") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | net-work</title>
  </head>
  <body>
    <h1>Help</h1>
    <p>
      Get help.
    </p>
  </body>
</html>