<!-- <div class="center jumbotron"> -->
<div class="center jumbotron">
  <h3 class="signup">Success is best when shared with others.</h3>
  <h2>Get started - It's free</h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
