<h1>net-work</h1>

<% if current_user.friends.any? %>
	<h2>Friends</h2>
	<ul>
		<% current_user.friends&.each do |f| %>
			<% @id = f.id %> 
			<% @user = User.find(@id) %>
			<li>
				<span class="user"><%= link_to [@user.firstName, @user.lastName].join(' '), @user %></span>
			</li>
		<% end %>
	</ul>
<% end %>


<!-- TODO fix requests -->
<% if current_user.pending_requests.any? %> 

	<h2>Pending Requests</h2>
	<ul>
	<% @users_with_pending_requests&.each do |user| %>
		<li><%= user.firstName %></li>
	<% end %>
	</ul>
<% end %>