<footer class="footer">
  <small>
    <a href="https://shrouded-crag-96399.herokuapp.com/">Net-work app</a>
    by Anastasia Antonelou and Panagiota Stamatopoulou</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>

