<footer class="footer">
  <small>
    <a><%=  link_to "Net-work app", root_path %></a>
    by Anastasia Antonelou and Panagiota Stamatopoulou</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>

